/*color docs: https://colorhunt.co/palette/181665 */

body {
    background-color: #f1e3cb;
    color: #581c0c;
}

footer {
    text-align: center;
    margin: 10px;
}

h1, h2, h3 {
    color: #ca5116;
}

input { border-radius: 5px; }

textarea { 
    height: 200px;
    width: 100%;
}

/* Distance from nav */
.container {
    margin-top: 30px;
}

/* Index image styling for wrapping */
#index-left > img {
  width: 80%;
}

/* Form stylings */
.myForms {
    background-color: #f9b384;
    padding: 20px;
    border-radius: 10px;
}

.myForms div {
    margin-bottom: 20px;
}

/* Table stylings */
#results {
    border-collapse: collapse;
    width: 100%;
}

#results td, #results th {
  border: 1px solid #581c0c;
  padding: 8px;
}

#results tr:hover {background-color: #ddd;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f9b384;
  color: #581c0c;
}
/* Style h1 and logo */
.header img {
    margin-left: 10px;
}

/* Apology flash */
.apology {
    padding: 10px;
    background-color: #cbd9f1;
}