{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    
    <div class="container">
        <div class="row">
            <div id="index-left" class="left col-sm-6">
                <img src="../static/editorial.svg" alt="book-fox" />
            </div>
            <div class="right col-sm-6">
                <h1>Welcome to Book Fox</h1>
                {% if apology %}
                    <p>{{ apology }}</p>
                {% endif %}
                <p>Hello! You can search our database of 5,000 books, read reviews by readers like you,
                    and add your own reviews.
                </p>
                <p>To get started, log in or <a href="/register">register</a></p>

                <div class="myForms">
                    <!--Redirect to search upon completion, error handling done at that route-->
                    <form action="#" method="post">
                        <div class="username">
                            <label for="index-user">Username</label><br>
                            <input name="user" id="index-user">
                        </div>
                        <div class="password">
                            <label for="index-pass">Password</label><br>
                            <input name="pass" type="password" id="index-pass">
                        </div>
                        <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}