{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div id="left" class="left col-sm-6">
            <div class="header">
                <h1>Register<img src="../static/save.svg" alt="fox" height=60px /></h1>
                <p>Please register to be able to search our database of 5,000 books, 
                    read reviews by readers like you, and add your own reviews.</p>
                <p>Registration is free!</p>
                <!--If username already taken-->
                {% if True %}
                <div class="apology">
                    That username is already taken, please try another one!
                    <img src="../static/user_taken.svg" alt="fox" height=60px />
                </div>
                {%endif%}
            </div>
        </div>
        <div id="right" class="col-sm-6">
            <div id="register">
                <form>
                    <div class="username">
                        <label for="register-user">Username</label><br>
                        <input name="user" id="register-user">
                    </div>
                    <div class="pass">
                        <label for="register-password">Password</label><br>
                        <input name="password" type="password" id="register-password">
                    </div>
                    <button type="button" class="btn btn-dark">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}