{% extends "layout.html" %}

{% block title %}
    Reviews
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="left col-sm-6">
            <div class="header">
                <h1>{{ title }}<img src="../static/book_detail.svg" alt="fox" height=60px /></h1>
                <p><strong>{{ title }}</strong> was written by <strong>{{ author }}</strong> and published in <strong>{{ year }}</strong>.</p>
                <h2>GoodReads API Information</h2>
                <p><strong>Rating Count:</strong> {{ ratingCount }}</p>
                <p><strong>Average Rating:</strong> {{ averageRating }}/5</p>
            </div>

            <div class="header">
                <h2>User Reviews</h2>
            </div>
            
            {% if reviews|length > 0 %}
            {% for review in reviews %}
            <div>
                <ul>
                    <li>User: {{ users[0][0] }}</li>
                    <li>Score: {{ review[0] }}.5</li>
                    <li>Review: {{ review[1] }}</li>
                </ul>
            </div>
            {% endfor %}
            
            {% else %}
            <div class="apology">
                <p>No reviews have been written for {{ title }} yet.</p>
            </div>
            {% endif %}
        </div>

        <div class="right col-sm-6">
            <div class="myForms">
                <form action="/reviews/{{ isbn }}" method="post">
                    <div>
                        Your rating
                        <input id="1" type="radio" name="options" value="1" onclick="myFunc()">
                        <label for="isbn-select">1</label>
                    
                        <input id="2" type="radio" name="options" value="2" onclick="myFunc()">
                        <label for="author-select">2</label>
                    
                        <input id="3" type="radio" name="options" value="3" onclick="myFunc()">
                        <label for="title-select">3</label>

                        <input id="4" type="radio" name="options" value="4" onclick="myFunc()">
                        <label for="title-select">4</label>

                        <input id="5" type="radio" name="options" value="5" onclick="myFunc()">
                        <label for="title-select">5</label>
                    </div>
                    <div>
                        <label for="review-input">Your review (1,000 character limit)</label><br>
                        <textarea id="review-input" name="review" maxlength="1000"></textarea>
                    </div>
                    <button id="review-submit" type="submit" class="btn btn-dark" disabled>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // If a radio button has been selected and input has been typed in, activate the submit button
    function myFunc() {
        if (document.querySelector("#review-input").value !== "") {
            document.getElementById("review-submit").disabled = false;
        }
    }
    document.querySelector("#review-input").onkeyup = function () {
        if (document.querySelector("#review-input").value === "") {
            document.getElementById("review-submit").disabled = true;
        }
        else {
            var radios = document.getElementsByName("options");
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    document.getElementById("review-submit").disabled = false;
                    break;
                }
            }
        }
    }
</script>
{% endblock %}