{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="left col-sm-6">
            <div class="header">
                <h1>Search<img src="../static/search.svg" alt="fox" height=60px /></h1>
                <p>Search for a book in our database by ISBN, author, or title.</p>
                <p>The results will be sorted by the most recently published book.</p>
            </div>
        </div>
        <div class="right col-sm-6">
            <div class="myForms">
                <form name="myForm" action="{{ url_for('results') }}" method="post">
                    <div>
                        <input id="isbn-select" type="radio" name="options" value="isbn" onclick="myFunc()">
                        <label for="isbn-select">ISBN</label>

                        <input id="author-select" type="radio" name="options" value="author" onclick="myFunc()">
                        <label for="author-select">Author</label>

                        <input id="title-select" type="radio" name="options" value="title" onclick="myFunc()">
                        <label for="title-select">Title</label>
                    </div>
                    <div>
                        <label for="search-input">Search for</label><br>
                        <input name="search" id="search-input">
                    </div>
                    <button id="search-submit" type="submit" class="btn btn-dark" disabled>Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // If a radio button has been selected and input has been typed in, activate the submit button
    function myFunc() {
        if (document.querySelector("#search-input").value !== "") {
            document.getElementById("search-submit").disabled = false;
        }
    }
    document.querySelector("#search-input").onkeyup = function() {
        if (document.querySelector("#search-input").value === "") {
            document.getElementById("search-submit").disabled = true;
        }
        else {
            var radios = document.getElementsByName("options");
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked) {
                    document.getElementById("search-submit").disabled = false;
                    break;
                }
            } 
        }
   }
</script>
{% endblock %}